.modal-itembyGr .text-select{
    color: rgb(67, 105, 233);
}

.modal-itembyGr .text-select:hover{
    text-decoration: underline;
    cursor: pointer;
}

.modal-itembyGr .ant-table-content{
    height: calc( 100vh - 30rem) !important;
    overflow-y: auto !important;
    position: relative;
}