@media print {
  @page {
    size: A4;
    font-family: "Angsana New"; 
  }
  #quo.page-show {
    visibility: visible;
    margin: 0px !important;
    padding: 0px !important;
    display: block;
  }
  .quopv-pages { 
    letter-spacing: .48px;
    width: 21cm; /* A4 width */
    height: 29.7cm; /* A4 height */
    /* margin: 0px !important; */
    /* padding: 0px !important; */
    padding-block: 8mm;
    /* margin: 1cm; Margins */
    /* padding: 1cm; */
    /* page-break-after: always;    */
    /* position: absolute; */
    /* left: 0;  */
    /* top: 0;  */
    box-shadow: none !important;
    border-radius: 0px !important;
    font-family: "Angsana New"; 
  } 

  
  .quopv-pages .ant-table-wrapper .ant-table-thead >tr>th, 
  .quopv-pages .ant-table-wrapper .ant-table-thead >tr>td { 
    background-color: #ffffff;
    color: #000000;
    border-bottom: 0.5px solid ;
    font-size: 16px;
  }

  .page-break {
    page-break-before: always; 
  }
}
 
  #quo.page-show {
    ---width-padding-param : 4mm;
    ---width-param : 0mm;
    ---width-items : calc( 21cm - var(---width-param) );
    width: 100%;

    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    overflow: auto;
    padding: 1rem;
    background-color: #d9d9d9;
  }

  #quo .title-preview { 
    width: calc( 21cm + (var(---width-padding-param) * 2) ); /* A4 width */
    box-sizing: border-box;
  }

  #quo .layout-preview {
    padding: var(---width-padding-param);
    width: calc( 21cm + (var(---width-padding-param) * 2) ); /* A4 width */
    /* min-height: 29.7cm;*
    /* min-height: 29.7cm; */
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 1px #c5c7c5;
    border-radius: 4px;
    background-color: #fff;
    letter-spacing: 0px; 
    color: #000;

  }

  .quopv-pages {
    ---color--1 : #000;
    position: relative;
    width: 21cm;

  }

  .quopv-pages .print-logo {
    position: absolute;
    right: 1.5mm;
    top: 1.5mm;
    left: auto;
  }
  
  .quopv-pages .print-title {
    width: 100%;
    /* border-bottom: 2px solid var(---color--1); */
  }

  .quopv-pages .print-title p {
    margin-bottom: .234rem;
  }


  
  .quopv-pages .print-head{
    width: 100%;
    position: relative;
    /* height: 26.8mm; */
    padding: 1.4mm;
    border-bottom: 0px solid #000;  
    display: flex;
  }
  
  .quopv-pages .print-head-content{
    width: 100%;
    position: relative;

    padding-block: 1.4mm;
    padding-inline: 1.4mm;
    border-bottom: 0px solid #000; 
    display: inline-flex;
    flex-direction: column;
  }

  
  .quopv-pages .print-content {
    width: 100%;
    /* height: 211.34mm;  */
    flex-direction: row;
    
    padding-block: 1.4mm;
    padding-inline: 1.4mm;
    border-bottom: 0px solid #000;  
  }


  .quopv-pages .sec-item {
    width: var(---width-items);
    display: flex;
    flex-direction: column;
  }

  .quopv-pages .ant-typography {
    font-family: "Angsana New"; 
    box-sizing: border-box;
    vertical-align: top;
  }
  
  .quopv-pages .ant-card {
    background: #ffffff;
    border-radius: 0;
    box-shadow: none; 
    font-family: "Angsana New" !important;
  }

  .quopv-pages [class^="ant-table"], .quopv-pages [class*=" ant-table"] {
    font-family: "Angsana New";
    font-size: 18px;
    box-sizing: border-box;
  }
  .quopv-pages .ant-table-wrapper .ant-table {
    font-family: "Angsana New";
  }


  .quopv-pages .ant-table-wrapper .ant-table-thead >tr>th, 
  .quopv-pages .ant-table-wrapper .ant-table-thead >tr>td { 
    background-color: #D9F2D0;
    /* color: #e9e5e5; */
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-size: 14px;
  }

  /* .quopv-pages .ant-table-wrapper .ant-table-thead>tr>th:last-child{
    border-right: 1px solid;
  } */

  .quopv-pages .text-sm { 
    color: #242121; 
  }
 
  .quopv-pages .ant-table-wrapper .ant-table-tbody >tr >td {
    transition: none;
    border: 0px solid ;
    white-space: break-spaces;
    font-size: 14px;
    vertical-align: top;

  }
  .quopv-pages .ant-table-wrapper .ant-table-tbody tr:last-child td {
    border-bottom: 0.5px solid ;
  }
 
  .quopv-pages .ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child {
    border-start-start-radius: 0px;
  }

  .quopv-pages .ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child {
    border-start-end-radius: 0px;
    /* border-right: 1px solid; */
  }
 
  .quopv-pages .ant-table-wrapper .ant-table-tbody >tr:nth-child(even) >td {
    background-color: aliceblue;
  }

  

  .quopv-pages .ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, 
  .quopv-pages .ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    width: 0px;
    background-color: #ffffff; 
    content: "";
 }


.quopv-pages .ant-table-wrapper .ant-table.ant-table-small .ant-table-title, 
.quopv-pages .ant-table-wrapper .ant-table.ant-table-small .ant-table-footer, 
.quopv-pages .ant-table-wrapper .ant-table.ant-table-small .ant-table-cell, 
.quopv-pages .ant-table-wrapper .ant-table.ant-table-small .ant-table-thead>tr>th,
.quopv-pages .ant-table-wrapper .ant-table.ant-table-small tfoot>tr>th, 
.quopv-pages .ant-table-wrapper .ant-table.ant-table-small tfoot>tr>td {
  padding: 2px 6px;
  font-family: "Angsana New";
  transform: unset !important;
}

 

.quopv-pages tr.ant-table-row.ant-table-row-level-0.r-sub td {
  border-left: 1px solid ;
  border-bottom: 1px solid;
}


.quopv-pages tr.ant-table-row.ant-table-row-level-0.r-sub:first-child::after{
  content: '';
  /* border-bottom: 1px solid #ffffff !important; */
}

.quopv-pages tr.ant-table-row.ant-table-row-level-0.r-sub::after {
  width: 100%;
  position: absolute;
  left: 0;
}
.quopv-pages tr.ant-table-row.ant-table-row-level-0.r-sub2 td {
  border-left: 1px solid ;
  border-bottom: 1px solid;

}
.quopv-pages tr.ant-table-row.ant-table-row-level-0.r-sub2 td {
  border-left: 1px solid ;
  border-bottom: 1px solid;
}
.quopv-pages tr.ant-table-row.ant-table-row-level-0.r-sub2 td:last-child {
  border-right: 2px solid ;

}


.quopv-pages tr.r-sum td.ant-table-cell.text-summary{
  /* border-top: 1px solid ; */
  border-left: 1px solid ;

  border-bottom: 1px solid  !important;
}
.quopv-pages tr.r-sum td.ant-table-cell.text-summary:last-child { 
  border-right: 1px solid ;
}

.quopv-pages  .ant-table-wrapper .ant-table-summary tr.rl td.ant-table-cell.text-summary {
  border-bottom: 1px solid  !important;
  /* background-color: #77b1f6;
  color: #ffffff !important; */
}


.quopv-pages .ant-card.ant-card-small >.ant-card-head {
    padding-inline-start: 6px;
    font-size: 14px;
    color: #000;
    /* background-color: var(---color--1); */
    border-radius: 0;
}

.quopv-pages .ant-card-bordered {
    border: 0px solid #f0f0f0;
    border-radius: 0px;
}

.quopv-pages .ant-card .ant-card-head, 
.quopv-pages .ant-card .ant-card-body {
  padding: 0px;

}

.quopv-pages .tx-info {
  font-size: 14px;
  font-family: "Angsana New";
}

.quopv-pages .tx-sub {
  font-size: 11px;
  font-family: "Angsana New";
}